<h2>Профиль <%= current_user.full_name %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label "Никнейм" %><br />
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Имя" %><br />
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Фамилия" %><br />
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <%= f.label "Пол", class: "input-group-text", for: "inputGroupSelect01" %>
    </div>
  <%= f.select :gender, User.genders.keys.to_a, {}, class: "custom-select", id:"inputGroupSelect01" %> 
  </div>

  <div class="form-group">
    <%= f.label "Страна" %><br />
    <%= f.text_field :country, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Город" %><br />
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label "Пароль" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
