<h2><%= t('.profile', current_profile: current_user.full_name) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  
  <%= render GenderComponent.new f: f %>

  <div class="form-group">
    <%= f.label :country %><br />
    <%= f.text_field :country, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city %><br />
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <hr>
  <h3><%= t 'password' %></h3>
  <div class="form-group mt-3">
    <%= f.label :password %> <i>(<%= t('authorization.empty_password') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t('authorization.characters_minimum', lenght: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
  <hr>

  <div class="form-group">
    <%= f.label :current_password %> <i>(<%= t 'authorization.password_for_update_account' %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t('button.update'), class: "btn btn-primary" %>
  </div>
<% end %>
<hr>
<h3><%= t('.block_profile') %></h3>

<%= button_to t('.block'), registration_path(resource_name), data: { confirm: t('global.confirm.warning') }, method: :delete, class: "btn btn-danger" %>
<hr>
<%= link_to t('button.back'), :back, class: "btn btn-primary" %>
