<i commentableid="<%= commentable.id%>" commentabletype="<%= commentable.class%>" id="<%= commentable.class %>-<%= commentable.id%>-comments" class="comments-for-ajax far fa-comment-alt ml-3 mr-1", title="Показать комментарии"></i>
<span id="<%= commentable.class %>-<%= commentable.id%>-comments-count">
  <%= commentable.comments_count %>
</span>
