<div class="card mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col-1 avatar-message">
        <%= avatar_article_creater article.author %>
      </div>
      <div class="col-11">
        <div class="mt-2">
          <div class="float-right item-header">
            <%= article.created_time %>
            <%= render 'articles/drop_menu', article: article %>
          </div>
          <div class="float-left">
            <%= article.author.username %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if article.image? %>
    <%= image_tag url_for(article.image), alt: article.image_title, size: "286x180", class: "card-img-top"%>
  <% end %>
  <div class="card-body">
    <%= article.body %>
    <hr>
    <%= render 'likes/like_icon', likeable: article %>
    <%= render 'comments/comment_icon', commentable: article %>
  </div>
  <div class="card-footer" id="<%= article.type_with_id %>-comments-area">
  </div>
  <%= render 'comments/form', commentable: article %>
</div>
