<div class="card mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col-1 avatar-message">
        <%= image_tag("user", alt: "Card image cap", class: "rounded-circle", height: '40') %>
      </div>
      <div class="col-11">
        <div class="mt-2">
          <div class="float-right">
            <%= article.created_at.strftime("%Y %m %H:%M") %>
          </div>
          <div class="float-left">
            <%= article.author.username %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if article.image? %>
    <%= image_tag url_for(article.image), alt: article.image_title, size: "286x180", class: "card-img-top"%>
  <% end %>
  <div class="card-body" id="<%= article.id%>" type="<%= article.class%>">
    <%= article.body %>
    <hr>
    <%= render 'likes/like_icon', likeable: article %>
    <%= render 'comments/comment_icon', commentable: article %>
  </div>
  <div class="card-footer" id="<%= article.class %>-<%= article.id %>-comments-area">
  </div>
  <%= render 'comments/form', commentable: article %>
</div>
