<div class="card mb-4">
  <%= render 'articles/article_header', article: article %>
  <%= image_for(article) %>
  <%= render 'articles/article_body', article: article %>
  <div class="card-footer" id="<%= article.type_with_id %>-comments-area">
  </div>
  <%= render 'comments/form', commentable: article %>
</div>
