<div class="card mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col-1 avatar-message">
        <%= image_tag("user", alt: "Card image cap", class: "rounded-circle", height: '40') %>
      </div>
      <div class="col-11">
        <div class="mt-2">
          <%= article.author.username %>
        </div>
      </div>
    </div>
  </div>
  <% if article.image? %>
    <%= image_tag url_for(article.image), alt: article.image_title, size: "286x180", class: "card-img-top"%>
  <% end %>
  <div class="card-body" id="<%= article.id%>" type="<%= article.class%>">
    <%= article.body %>
    <hr>
    <i id="<%= article.class %>-<%= article.id%>-likes" class="likes-for-ajax far fa-heart mr-1 <%= article.user_liked?(current_user) ? "liked" : ""%>"></i> 
    <span id="<%= article.class %>-<%= article.id%>-likes-count">
      <%= article.likes_count %>
    </span>
    <i class="far fa-comment-alt ml-3"></i>
  </div>
</div>