<div>
  <div href="#" id="article-dropdown-<%= article.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-grip-vertical drop-menu-grip" title="меню"></i>
  </div>

  <div class="dropdown-menu" aria-labelledby="article-dropdown-<%= article.id %>">
    <div class="dropdown-item">
      <% if article.alredy_bookmark?(current_user) %>
        <%= button_to bookmark_path(article), { remote: true, method: :delete } do %>
          <i class="fas fa-trash"></i> <%= t('articles.dropdown.delete') %>
        <% end %>
      <% else %>
        <%= button_to bookmarks_path, { remote: true, method: :post } do %>
          <i class="fas fa-save"></i> <%= t('articles.dropdown.save') %>  
        <% end %>
      <% end %>
    </div>
    <div class="dropdown-divider"></div>
    
    <% if current_user.admin? %>
      <div class="dropdown-item">
        <i class="fas fa-ban"></i> <%= t('articles.dropdown.ban') %> 
      </div>
    <% end %>
  </div>
</div>

  
