<div class="article-form" id="article-form">
  <h3 class="text-center"><%= t('articles.form.add_news') %></h3>
  <%= form_with model: @article, local: true  do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control", rows: 3, placeholder: "Новость", id: "article-form-body-field" %>
    </div>
    <div class="form-group">
      <label class="btn btn-outline-secondary btn-change-avatar btn-lg" id="btn-article-form-file-field">
        <%= t('articles.form.upload') %>
        <span style="display:none;">
          <%= f.file_field :picture, id: "article-form-file-field" %>
        </span>
      </label>
    </div>
    <div>
      <%= f.submit t('articles.form.publish'), class: "btn btn-primary float-right", id: "article-form-submit" %>
    </div>
  <% end %>
</div>