<%= title(t('.title')) %>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8 mb-4">
    <div class="form-group">
      <input type="text" class="form-control" placeholder='<%= t('.new_article')%>' id="article-form-field">
    </div>
    <%= render 'articles/form', article: @article %>
  </div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8" id="articles-index">
    <% if @articles %>
      <%= render @articles %>
    <% end %>
  </div>
</div>
<%= render 'partials/paginate', objects: @articles %>