<i likeableid="<%= likeable.id%>" likeabletype="<%= likeable.class%>" id="<%= likeable.class %>-<%= likeable.id%>-likes" class="likes-for-ajax far fa-heart mr-1 <%= likeable.user_liked?(current_user) ? "liked" : ""%>"></i>
<span id="<%= likeable.class %>-<%= likeable.id%>-likes-count">
  <%= likeable.likes_count %>
</span>
