<div class="card" style="width: 18rem;">
  <%= main_avatar(user) %>
  <div class="card-body">
    <div class="btn-group btn-block" role="group">
      <button type="button" class="btn btn-success"><%= t('.write') %></button>
      
      <% if user == current_user %>
        <button type="button" class="btn btn-info" disabled><%= current_user.full_name %></button>
      <% else %>
        <% if user.alredy_subscription?(current_user) %>
          <%= link_to friendship_path(user), method: :delete do  %>
            <button type="button" class="btn btn-info"><%= t('friendships.unfollow') %></button>
          <% end %>
        <% else %>
          <%= link_to friendships_path(user: user), method: :post do  %>
            <button type="button" class="btn btn-info"><%= t('friendships.follow') %></button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
