<div class="row">
  <div class="col-4 mr-3">
    <div class="card" style="width: 18rem;">
      <%= image_tag("user", alt: "Card image cap", class: "card-img-top") %>
      <div class="card-body">
        <div class="btn-group btn-block" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success">Написать</button>
          <button type="button" class="btn btn-info">Подписаться</button>
        </div>
      </div>
    </div>
    <div class="card mt-4" style="width: 18rem;">
      <span class="badge badge-light">Подписчи</span>
      <div class="card-body">
        <% @user.subscribers.each do |subscriber| %>
          <%= link_to user_path(subscriber) do %>
            <%= image_tag("user", alt: subscriber.username, class: "avatar", title: subscriber.username) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card mt-4" style="width: 18rem;">
      <span class="badge badge-light">Подписки</span>
      <div class="card-body">
        <div class="btn-group btn-block" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success">Написать</button>
          <button type="button" class="btn btn-info">Подписаться</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="card">
      <div class="card-body">
        <%= @user.full_name %>
        <hr>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p class="text-center">Обо мне</p>
            <div class="row">
              <div class="col-6"><p class="text-left">Имя:</p></div>
              <div class="col-6"><p class="text-right"><%= @user.full_name %></p></div>
            </div>
            <div class="row">
              <div class="col-6"><p class="text-left">Известен как:</p></div>
              <div class="col-6"><p class="text-right"><%= @user.username %></p></div>
            </div>
            <div class="row">
              <div class="col-6"><p class="text-left">Дата рождения:</p></div>
              <div class="col-6"><p class="text-right"><%= @user.date_of_birth %></p></div>
            </div>
            <div class="row">
              <div class="col-6"><p class="text-left">Интересы:</p></div>
              <div class="col-6"><p class="text-right"><%= @user.interests %></p></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>