<%= title @user.username %>

<div class="row">
  <div class="col-4 mr-3">
    <%= render 'users/image_card', user: @user %>
    <%= render 'users/sub', users: @subscribers, label: t('.subscribers') %>
    <%= render 'users/sub', users: @subscriptions, label: t('.subscriptions') %>
  </div>
  <div class="col-7">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <p class="">
            <%= @user.full_name %>
          </p>
          <p class="ml-auto">
            <%= online_label @user %>
          </p>
        </div>
        <div class="form-group">
          <p class="<%= "my-status" if @user == current_user %>">
            <%= @user.status.empty? ? "статус" : @user.status %>
          </p>
        </div>
        <hr>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p class="text-center"><%= t('.about') %></p>
            <%= render 'users/user_info_item.html', name: t(".name"), value: @user.full_name  %>
            <%= render 'users/user_info_item.html', name: t(".known_as"), value: @user.username  %>
            <%= render 'users/user_info_item.html', name: t(".date_of_birthday"), value: @user.date_of_birth  %>
            <%= render 'users/user_info_item.html', name: t(".gender"), value: @user.gender_name  %>
            <%= render 'users/user_info_item.html', name: t(".city"), value: @user.location  %>
            <%= render 'users/user_info_item.html', name: t(".interests"), value: @user.interests  %>
          </li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <%= link_to photos_user_path(id: @user) do %>
          <p class="text-center"><%= t('.photos') %></p>
        <% end %>
      </div>
    </div>
    <div class="mt-4">
      <% @articles.each do |article| %>
        <%= render 'articles/article', article: article %>
      <% end %>
    </div>
  </div>
</div>