<%= title @user.username %>

<div class="row">
  <div class="col-4 mr-3">
    <%= render 'users/image_card', user: @user %>
    <%= render 'users/sub', users: @subscribers, label: t('.subscribers') %>
    <%= render 'users/sub', users: @subscriptions, label: t('.subscriptions') %>
  </div>
  <div class="col-7">
    <div class="card">
      <div class="card-body">
        <%= render 'users/show_header' %>
        <hr>
        <%= render 'users/show_bio' %>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <%= link_to photos_user_path(id: @user) do %>
          <p class="text-center"><%= t('.photos') %></p>
        <% end %>
      </div>
    </div>
    <div class="mt-4">
      <%= render @articles %>
    </div>
  </div>
</div>