<%= title t('.title') %>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div id="dialog-id" dialog-id="<%= @dialog.id %>"></div>
    <div class="card">
      <div class="card-header">
        <%= render 'dialogs/header', dialog: @dialog %>
      </div>
      <div class="chat-box">
        <div id="infinite-scrolling-messages">
          <%= will_paginate @messages %>
        </div>
        <ul id="messages">
          <% @messages.reverse.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        </ul>
      </div>
    </div>
    <%= render 'messages/form', message: @message, dialog_id: @dialog.id%>
  </div>
  <div class="col-1"></div>
</div>
