<div class="modal fade" id="exampleModal-<%= picture.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag(picture.image, alt: "1", class: "card-img-top") %>
      </div>
      <div class="card-footer" id="<%= picture.class %>-<%= picture.id %>-comments-area">
        <%= render 'comments/comments', comments: picture.comments %>
      </div>
      <%= render 'comments/form', commentable: picture %>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('button.close') %></button>
        <%= link_to t('pictures.modal.set_main'), main_picture_path(picture), class: "btn btn-primary", method: :put %>
      </div>
    </div>
  </div>
</div>