<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <%= link_to "Talker", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= render 'partials/money' %>
      <% if user_signed_in? %>
        <div class="text-white bell">
          <i class="far fa-bell"></i>
          <span><%= current_user.unread_notification %></span>
        </div>
      <% end %>
      <div class="my-2 my-lg-0">
        <% if user_signed_in? %>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%# TODO:  <%= avatar current_user %>
              <%= image_tag('user', alt: current_user.username, class: 'avatar') %>
              <%= current_user.username %>
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                <i class="fas fa-cog"></i> <%= t('layouts.navbar.settings') %> 
              <% end %>
              <%= link_to  page_path('about'), class: "dropdown-item" do %>
                <i class="far fa-address-card"></i> <%= t('layouts.navbar.about') %> 
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete, id: 'logout' do %>
                <i class="fas fa-sign-out-alt"></i> <%= t('layouts.application.logout') %>
              <% end %>
            </div>
          </div>
        <% else %>
          <%= link_to t('layouts.application.login'), new_user_session_path, class: "btn btn-primary my-2 my-sm-0" %>  
        <% end %>
      </div>
    </div>
  </div>
</nav>
