<ul class="list-unstyled fw-normal pb-1 small">
  <li>
    <h4>
      <i class="fas fa-user"></i>
      <%= link_to "Моя страница", user_path(current_user), class: "d-inline-flex align-items-center rounded active" %>
    </h4>
  </li>
  <li>
    <h4>
      <i class="fas fa-newspaper"></i>
      <%= link_to "Новости", articles_path, class: "d-inline-flex align-items-center rounded active" %>
    </h4>
  </li>
  <li>
    <h4>
      <i class="fas fa-users"></i>
      <%= link_to "Пользователи", users_path, class: "d-inline-flex align-items-center rounded active" %>
    </h4>
  </li>
  <li>
    <h4>
      <i class="fas fa-comment"></i>
      <%= link_to "Диалоги", "#", class: "d-inline-flex align-items-center rounded active" %>
    </h4>
  </li>
  <li>
    <h4>
      <i class="fas fa-comment"></i>
      <%= link_to "Подписчики", subscribers_path, class: "d-inline-flex align-items-center rounded active" %>
    </h4>
  </li>
  <li>
    <h4>
      <i class="fas fa-comment"></i>
      <%= link_to "Подписки", subscriptions_path(user_id: current_user.id), class: "d-inline-flex align-items-center rounded active" %>
    </h4>
  </li>
</ul>
