<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Talker" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="mt-5 mb-5">
      <%= render 'partials/message' %>
    </div>
    <div class="container">
      <div class="row">
        <% if user_signed_in? %>
          <div class="col-3">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="col-9">
            <%= yield %>
          </div>  
        <% else %>
          <div class="col-9">
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
